html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#desktop {
  height: 80%;
}

#menu{
  height: 19%;
  border: 2px solid black;
  background: lightgray;
  p{
    margin-left: 15%;
  }
  button{
    width: 10%;
    height: 25%;
  }
  #btnAddCircle{
    margin-left: 20%;
  }
}

.shape{
  position: absolute;
  border: 2px solid black;
}